@use "../../style/partials/mixins" as *;
@use "../../style/partials/typography" as *;
@use "../../style/partials/variables" as *;

.qualification{
    &__title{
        text-align: center;
        margin-bottom: 2rem;
    }
    &__menu{
        text-align: center;
        margin-bottom: 1rem;
        @include tablet{
            margin-bottom: 1.5rem;
        }
    }
    &__tab{
        display: inline-block;
        margin-inline: 1.5rem;
        font-weight: 500;
        cursor: pointer;
        transition: .3s;
        &:hover{
            color: $title-color;
        }
        &--active{
            @extend .qualification__tab;
            color: $title-color--dark;  
            &:hover{
                color: $title-color;
            }
        }
    }
    &__details-container{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    &__details-div{
        width: 90vw;
        @include tablet{
            width: 60vw;
        }
        @include desktop{
            width: 30vw;
        }
    }
    &__details{
        display: flex;
        justify-content: start;
        align-items: center;

        // display: grid;
        // grid-template-columns: 1fr max-content 1fr;
        // column-gap: 1.5rem;
        position: relative;
        &--reverse{
            @extend .qualification__details; 
            justify-content: end;
        }
    }
    &__role{
        color: $title-color;
    }
    &__employer{
        font-size: 0.7rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
    &__date{
        font-size: 0.7rem;
        font-weight: 500;
    }
    &__timeline{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 50%;
    }
    &__dot{
        height: 0.7rem;
        width: 0.7rem;
        background-color: $text-color;
        border-radius: 50%;
    }
    &__line{
        height: 50px;
        width: 1px;
        background-color: $text-color;
    }
}