@use "../../style/partials/mixins" as *;
@use "../../style/partials/typography" as *;
@use "../../style/partials/variables" as *;

.qualification{
    background-color: $body-color;
    &__title{
        text-align: center;
    }
    &__sub-title{
        @include sub-header;
    }
    &__menu{
        text-align: center;
        margin-bottom: 1rem;
        @include tablet{
            margin-bottom: 1.5rem;
        }
    }
    &__tab{
        display: inline-block;
        margin-inline: 1.5rem;
        font-weight: 500;
        cursor: pointer;
        transition: .3s;
        &:hover{
            color: $title-color;
        }
        &--active{
            @extend .qualification__tab;
            color: $title-color--dark;  
            &:hover{
                color: $title-color;
            }
        }
    }
    &__details-container{
        @include tablet{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__details-div{
        min-height: 26.375rem;
        padding: 0.5rem;
        @include mobile-lg{
            overflow: visible;
            padding: 0;
        }
        @include tablet{
            width: 60vw;
        }
        @include desktop{
            width: 45vw;
        }
    }
    &__modal{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: $text-color, $alpha: 0.5);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}