@use "../../style/partials/mixins" as *;
@use "../../style/partials/typography" as *;
@use "../../style/partials/variables" as *;

.about {
  width: 100%;
  padding-inline: 1rem;
  background-color: $body-color;
  margin-top: 2rem;
  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__sub-title{
    @include sub-header;
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    @include mobile-lg{
        width: 80%;
    }
    @include tablet{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        text-align: start;
    }
  }
  &__img-div {
    @include img-div;
  }
  &__img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
  }
  &__content{
    @include tablet{
        width: 50%;
    }
  }
  &__card-list {
    display: flex;
    justify-content: space-between;
  }
  &__msg{
    margin-block: 1rem;
    font-size: 0.9rem;
  }
  &__btn{
    display: inline-block;
    position: relative;
    background-color: $title-color;
    color: $container-color;
    padding-block: 0.9rem;
    padding: 0.9rem 3rem 0.9rem 2.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: $title-color--dark;
    }
  }
  &__send {
    @include send-icon; 
  }
}
