@use "../../style/partials/mixins" as *;
@use "../../style/partials/typography" as *;
@use "../../style/partials/variables" as *;

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 30%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: $container-color;
    border:1px solid $text-color;
    
}