@use "../../style/partials/mixins" as *;
@use "../../style/partials/typography" as *;
@use "../../style/partials/variables" as *;

.modal{
    background-color: $container-color;
    @include tablet{
        border-radius: 0.5rem;
    }
    &__container{
        padding: 1rem;
        height: 100vh;
        width: 100vw;
        @include tablet{
            overflow-y: scroll;
            height: 80vh;
            width: 80vw;
        }
        @include desktop{
            height: 60vh;
            width: 60vw; 
        }
    }
    &__close-div{
        display: flex;
        justify-content: end;
    }
    &__close-icon{
        transition: .3s;
        &:hover{
            color: $text-color;
        }
    }
    &__company{
        font-size: 0.9rem;
        font-weight: 500;
    }
    &__role{
        font-size: 0.9rem;
    }
    &__dates{
        font-size: 0.9rem;
    }
    &__desc{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
    }
    &__item{
        color: $title-color;
        font-size: 0.9rem;
    }
}