@use "../../style/partials/mixins" as *;
@use "../../style/partials/typography" as *;
@use "../../style/partials/variables" as *;

.main {
  width: 100%;
  padding-inline: 1rem;
  background-color: $body-color;
  &__container {
    position: relative;
    height: 100vh;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 1rem;
    justify-content: center;
    @include tablet {
      margin-top: 2rem;
    }
    @include desktop {
      justify-content: start;
      margin-top: 1rem;
      text-align: left;
      flex-wrap: nowrap;
      gap: 3rem;
    }
  }

  &__socials {
    display: flex;
    max-width: 10%;
    flex-direction: column;
    justify-content: space-between;
  }
  &__link {
    color: $text-color;
    font-size: 1.5rem;
    transition: 0.3s;
    &:hover {
      color: $title-color--dark;
    }
  }
  &__content {
    @include mobile-lg{
        width: 80%;
    }
    @include tablet{
        width: 60%;
    }
    @include desktop {
      width: 50%;
    }
  }
  &__h1 {
    font-size: 1.5rem;
    font-weight: 600;
    @include tablet {
      font-size: 2rem;
    }
    @include desktop {
      font-size: 2.5rem;
    }
  }
  &__h3 {
    margin-bottom: 1rem;
    &::before {
      content: "";
      display: inline-block;
      width: 4.375rem;
      margin-right: 1rem;
      margin-bottom: 0.3rem;
      height: 1px;
      border: 1px solid $text-color;
    }
  }
  &__img-div {
    height: 13.75rem;
    width: 13.75rem;
    @include mobile-lg {
      height: 15.625rem;
      width: 15.625rem;
    }
    @include tablet {
      height: 18.75rem;
      width: 18.75rem;
    }
    @include desktop {
      order: 1;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    animation: pic__animate 8s ease-in-out infinite 1s;
  }
  &__p {
    margin-bottom: 1rem;
  }
  &__contact {
    display: inline-block;
    position: relative;
    background-color: $title-color;
    color: $container-color;
    padding-block: 0.9rem;
    padding: 0.9rem 3rem 0.9rem 2.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: $title-color--dark;
    }
  }
  &__send {
    position: absolute;
    top: 0.7rem;
    margin-left: 0.5rem;
    display: inline-block;
    transform: rotate(-45deg);
  }

  &__scroll-div {
    display: none;
    @include desktop {
      display: block;
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 5rem;
    }
  }

  &__anchor {
    color: $text-color;
  }
}

@keyframes pic__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
