@use "../../style/partials/mixins" as *;
@use "../../style/partials/typography" as *;
@use "../../style/partials/variables" as *;

.details {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  padding-inline: 0.5rem;
  @include tablet {
    width: 100%;
  }
  &--reverse {
    @extend .details;
    @include tablet{
        justify-content: end;
    }
  }
  &__data{
    cursor: pointer;
    margin-left: 10%;
    @include tablet{
        margin-left: 0%;
    }
  }
  &__edu{
    margin-left: 10%;
    @include tablet{
        margin-left: 0%;
    }
  }
  &__role {
    color: $title-color;
  }
  &__employer {
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  &__date {
    font-size: 0.7rem;
    font-weight: 500;
  }
  &__timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 5%;
    @include tablet{
        left: 50%;
    }
  }
  &__dot {
    height: 0.7rem;
    width: 0.7rem;
    background-color: $text-color;
    border-radius: 50%;
    margin-top: 0.5625rem;
  }
  &__line {
    min-height: 3.125rem;
    width: 1px;
    background-color: $text-color;
  }
 
}
