@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/typography" as *;

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    &__icons-div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    &__icon{
        font-size: 2rem;
        text-decoration: none;
        color: $text-primary;
        &:hover{
            color: $text-secondary;
        }
    }
    &__copyright{
        font-family: "Montserrat", sans-serif;
        color: $text-primary;
        text-align: center;
        font-size: 0.7rem;
    }
}