@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/typography" as *;

.footer{
    margin-top: 1.5rem;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: $container-color;
    padding-top: 10%;
    @include tablet{
        padding: 5%;
    }
    &__logo{
        display: block;
        text-align: center;
        color: $title-color;
        font-weight: 500;
        cursor: pointer;
        font-size: 2rem;
        transition: .3s;
        &:hover{
            color: $title-color--dark;
        }
    }
}