@use "./style/partials/typography" as *;
@use "./style/partials/variables" as *;
@use "./style/partials/mixins" as *;

*, *::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.app{
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container{
        padding-inline: 1rem;
        @include tablet{
            width: $tablet-breakpoint;
        }
        @include desktop{
            width: $desktop-breakpoint;
        }
    }
}