@use "./style/partials/typography" as *;
@use "./style/partials/variables" as *;
@use "./style/partials/mixins" as *;

*, *::before, *::after{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    background-color: #000;
    scroll-behavior: smooth;
}
.app{
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-type: y mandatory;
    padding: 1rem;
    scroll-behavior: smooth;
    &__container{
        position: relative;
        @include tablet{
            width: $tablet-breakpoint;
        }
        @include desktop{
            width: $desktop-breakpoint;
        }
    }
    &__nav{
        position: sticky;
        top: 0;
        background-color: rgba($color: #000000, $alpha: 0.85);
    }
    &__section{
        scroll-snap-align: start;
    }
    &__project{
        text-align: center;
        font-family: "Montserrat", sans-serif;
        color: $text-primary;
        padding-block: 1.2rem;
        @include tablet{
            position: sticky;
            top: 3rem;
            z-index: 10;
            background-color: rgba($color: #000000, $alpha: 0.85);
        }
        @include desktop{
            top: 4.8rem;
        }
    }
}